.nav {
  padding: 2rem;
  background-color: rgba(64, 67, 91, 0.3);
  border-right: 1px solid white;
}

.nav a {
  display: block;
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    border-right: 0;
    border-bottom: 1px solid white;
  }

  .nav a {
    display: inline-block;
    margin-bottom: 0;
  }
}
